<!doctype html>
<html>
<head>
    <title>Poker Tracker</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
	<ul class="list-inline">
		<li><a class="glyphicon glyphicon-log-in btn btn-default btn-lg" href="/login"> Login</a></li>
		<li><a class="glyphicon glyphicon-home btn btn-default btn-lg" href="/profile"> Profile</a></li>
		<li><a class="glyphicon glyphicon-link btn btn-default btn-lg" href="/team"> Team</a></li>
		<li><a class="glyphicon glyphicon-stats btn btn-default btn-lg" href="/stats"> Stats</a></li>
		<li><a class="glyphicon glyphicon-usd btn btn-default btn-lg" href="/bankroll"> Bankroll</a></li>
		<li><a class="glyphicon glyphicon-user btn btn-default btn-lg" href="/signup"> Signup</a></li>
	</ul>
</div>
</nav>
